* {
  padding: 0;
  margin: 0;
}

/* ****** MAIN PAGE STYLING *****  */

/* **** S1 FORM STYLING **** */

.main {
  text-align: center;
}

#titleText {
  padding: 1vw 0;
}

#headerText {
  padding-bottom: 2vw;
}

input {
  margin: 1vw 0;
  padding: 0.5vw 0;
}


/* **** S1 Help Box STYLING **** */

.sHelp {
  color: #7FDBFF;
  border: 1px solid black;
  padding: 0.5vw;
}

.sHelp:hover, #close:hover {
  cursor: pointer;
}

.sInformation, .overallErrors {
  background-color: #303030;
  width: 500px;
  height: 125px;
  color: white;
  position: relative;
  margin: 0 auto;
}

li {
  list-style-position: inside;
  margin-left: 50px;
}

/* Close button functionality */

#close {
  position: absolute;
  top: 0;
  right: 5px;
  transform: rotate(45deg);
}


/* Error Box */

.overallErrors {
  width: 500px;
  height: 125px;
}
