* {
  padding: 0;
  margin: 0;
}

/* ****** MAIN PAGE STYLING *****  */

/* **** S1 FORM STYLING **** */

.main {
  text-align: center;
}

.sForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sForm div {
  margin: 2vw 0;
}

#titleText {
  padding: 0.7em 0;
  font-size: 3.5vw;
}

#headerText {
  padding-bottom: 1.5em;
  font-size: 2.5vw;
}

input:not([type=checkbox]) {
  width: 14vw;
  height: 2vw;
}


input::-webkit-input-placeholder {
  font-size: 1.25vw;
}


/* **** S1 Help Box STYLING **** */

.sHelp {
  color: #7FDBFF;
  border: 1px solid black;
  padding: 0.5vw;
  font-size: 1.25vw;
}

.sHelp:hover, #close:hover {
  cursor: pointer;
}

.sInformation, .overallErrors {
  background-color: #303030;
  color: white;
  position: relative;
  padding: 0vw 3vw;
  padding-bottom: 1vw;
  font-size: 1.25vw;
}

#s1ValInformation, #s4ValInformation, #s7ValInformation {
  left: 20px;
}


li {
  list-style-position: inside;
}

/* Close button functionality */

#close {
  position: absolute;
  top: -1vw;
  right: 0.5em;
  transform: rotate(45deg);
}


/* Error Box */

.overallErrors {
  width: 1000px;
  height: 250px;
}
